body {
    background: url("https://images4.alphacoders.com/600/thumb-1920-600528.png")no-repeat fixed;
    background-size: cover;
}

#content {
    margin-top: 70px;
}

.navbar {
    border-bottom: 3px solid darkslategrey;
}
