body {
    background-size: cover;
    background: url("https://images4.alphacoders.com/600/thumb-1920-600528.png")
                no-repeat fixed;
}

#content {
    margin-top: 70px;
}

#champion_table {
    opacity: 0.9;
    cursor: pointer;
}

.navbar {
    border-bottom: 3px solid darkslategrey;
}