{% extends 'base.html' %}
{% block header %}
  {{ super() }}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css') }}">
  <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
{% block content %}
  <div class="col-md-12 col-lg-8 mx-auto">
    <div class="input-group py-1" id="search">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input class="form-control" type="text" id="searchbox"
             placeholder="Search...">
    </div>
    <table class="table table-responsive table-dark table-hover py-1 sort"
           id="champion_table">
      <thead>
      <tr>
        <th scope="col" id="champion">Champion</th>
        <th scope="col" id="mentions_day">Mentions/24h ({{ total.day }})</th>
        <th scope="col" id="mentions_change">Change/24h
          {% if total.change > 0 %}
            (<span class="badge badge-success">+{{ total.change }}</span>)
          {% elif total.change < 0 %}
            (<span class="badge badge-danger">{{ total.change }}</span>)
          {% else %}
            (<span class="badge badge-secondary">{{ total.change }}</span>)
          {% endif %}
        </th>
        <th scope="col" id="mentions_all">Mentions/All time ({{ total.all }})</th>
      </tr>
      </thead>
      <tbody>
      {% for champion, mentions in data %}
        <tr id="{{ champion }}">
          <td scope="row">{{ champion|title }}</td>
          <td scope="row">{{ mentions.day }}</td>
          <td scope="row">
            {% if mentions.change > 0 %}
              <span class="badge badge-success">+{{ mentions.change }}</span>
            {% elif mentions.change < 0 %}
              <span class="badge badge-danger">{{ mentions.change }}</span>
            {% else %}
              <span class="badge badge-secondary">{{ mentions.change }}</span>
            {% endif %}
          </td>
          <td scope="row">{{ mentions.all }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}